body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: $textColor;
  font-size: 16px;
}

h1 {
  font-size: 1.625rem;
  font-weight: 800;

  @media screen and (min-width: 768px) {
    font-size: 3.125rem;
  }
}

h2 {
  font-size: 1.375rem;

  @media screen and (min-width: 768px) {
    font-size: 2.5rem;
  }

}

h3{
  font-size: 1.23rem ;
  font-weight: 800;
}

h4{
  font-size: 1.08rem;
  font-weight: 800;
  @media screen and (min-width: 768px) {
    font-size: 2.06rem;
  }
}

span,p{
  line-height: 30px;
}