/**
 * Color variables
 */
$pageBackground: #e4e4e4;
$textColor: #444444;
$primaryColor: #fc4887;
$secondaryColor: #1691c3;

/**
 * Grid variables
 */
$containerWidth: 1140px;
$columns: 12;
$gutter: 15px;

/**
 * Design variables
 */
$borderRadius: 0.3125rem;
